.profile__user-info {
  display: grid;
  grid-template-columns: minmax(189px, max-content) min-content;
  grid-template-rows: min-content min-content;
  align-items: baseline;
  row-gap: 16px;
  column-gap: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 700px) {

  .profile__user-info {
    margin: 0 auto;
    margin-top: 26px;
    row-gap: 5px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
  }
}
