.entry__submit-btn {
  margin: 216px 0 0;
  padding: 13px 0;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.entry__submit-btn:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .entry__submit-btn {
    margin-top: 172px;
    font-size: 16px;
    line-height: 19px;
  }
}
