.profile__user-name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media (max-width: 700px) {

  .profile__user-name {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
  }
}
