.popup__submit-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border-color: #000;
  border-radius: 2px;
  max-width: 358px;
  height: 50px;
  margin-top: 18px;
  padding: 0;
  cursor: pointer;
  transition: opacity 100ms;
}

.popup__submit-btn:hover {
  opacity: 0.8;
}

@media (max-width: 580px) {
  .popup__submit-btn {
    margin-top: 15px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
